
body{

    width: 100%;
    background-color: white;

}



header{

    background-color: rgb(0, 4, 43);
    text-align: center;
    width: 100%;
    height: 75px;
    border-radius: 2px;
    

    
}


nav{

   padding-top: 10px;
  


}


a, h1{

    font-family: 'Open Sans', sans-serif;
 
}

a {
        text-decoration: none;
        color: white;
        display:inline;
        margin-right: 80px;
        text-transform: uppercase;
        letter-spacing: 2px;
           
}




ul li {

    list-style: none;
    display:inline;
    
}


/* SECTION */


section{

    background-image: url('https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg');
    background-color: #ffeeee;
    width: 100%;
    height: 600px;
    margin: 0;


}

section h1{

    margin: 0;
    text-align: center;
   

}


h1 {

    font-size: 50px;
    padding-top: 300px;


}





